In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import yfinance as yf
%matplotlib inline

In [3]:
from pytrends.request import TrendReq
pytrends = TrendReq()

In [5]:
tickers = pd.read_csv(r'C:\Users\Luke\Desktop\Data_Analysis\All_tickers.csv')
tickers

     Symbol
0      AAMC
1       AAU
2       ACU
3       ACY
4      ADRA
...     ...
7704    ZTO
7705    ZTR
7706    ZTS
7707    ZUO
7708   ZYME

[7709 rows x 1 columns]

In [ ]:
kw_list = ['AMC']

pytrends.build_payload(kw_list, timeframe='today 12-m')
pytrends